<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_stside-nav') %>

      <!-- Page Content  -->
      <div id="content">
        <div>
          <%- include('../../partials/_top-nav') %>


            <h1><%= course.CourseNum%> Assignments</h1>
            <table class="table">
                <tr>
                    <th>Assignment Name</th>
                </tr>
                <% course.assignments.forEach(function(assignment){ %>
                  <tr><td>
                    <button type="submit" onClick= "selectedCourse()" class="link-button" value="<%= assignment.assignmentId %>" id ="<%= assignment.assignmentId%>"> <!--name="submit_param" value="submit_value"-->
                      <%= assignment.assignmentName%>
                    </button>
                  </td></tr>
                <% }); %>

            </table>
        </div>
        <%- include('../../partials/_footer') %>
      </div>

    </div>
    <%- include('../../partials/_scripts') %>
    <script>

      async function selectedCourse(){
          event.preventDefault();
          const assignmentId = event.srcElement.id;
          const result = await fetch('/assignXpagest', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              assignmentId
            })
          }).then((res) => res.json())
            if(result.error){
              alert(result.error);
            }
            window.location.href = result.url;
        }

      
    </script>
  </body>
</html>
