<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../../partials/_stside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div class="dontTest">
            <%- include('../../partials/_top-nav') %>

            <!-- THIS IS WHERE THE SAMPLE STARTS! -->

            <h1>Available Courses</h1>
            <!-- Search bar. -->
            <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="search" class="form-control" placeholder="Search..." />
                </div>
                <button type="button" class="btn btn-primary btn-info">
                  <i class="fas fa-search"></i>
                </button>
              </div><br>

              <table class = "table table-hover">
                <form method="post"  class="inline" id="pickedCourse">
                <% courses.forEach(function(course){ %>
                  <tr>
                    
                    <td>
                      <button type="submit" onClick= "selectedCourse()" class="link-button" value="<%= course.CourseID %>" id = "<%= course.CourseID %>"> <!--name="submit_param" value="submit_value"-->
                        <%= course.CourseNum %> - <%= course.CourseName %>
                      </button>
                    </td>
                  
                  </tr>
  
                <% }); %>
                </form>
              </table>
        </div>
        <%- include('../../partials/_footer') %>
      </div>
    </div>
    <%- include('../../partials/_scripts') %>
    <script>
      async function search(){
        event.preventDefault();
        const search = document.getElementById('search').value;
        const result = await fetch('/search', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              search
            })
          }).then((res) => res.json())
            if(result.error){
              alert(result.error);
            }
            window.location.href = result.url;
      }
      
      async function selectedCourse(){
          event.preventDefault();
          const CourseID = event.srcElement.id;
         console.log(CourseID)
          const result = await fetch('/coursedetailsST', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              CourseID
            })
          }).then((res) => res.json())
            if(result.error){
              alert(result.error);
            }
            window.location.href = result.url;
        }
    </script>
  </body>
</html>
