<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../../partials/_stside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div class="dontTest">
            <%- include('../../partials/_top-nav') %>


            <!-- THIS IS WHERE THE SAMPLE STARTS! -->

            <div class = "contentMargin">
              <h2>My Courses</h2>
              <div class="line"></div>
              <!-- This gives the list of courses that the student is enrolled in. -->
              <a href="cs220DBstudent.html">CSCI 220 - Discrete Structures</a>
              <div class="line"></div>
              <a href="#">CSCI 323 - Design & Analysis Algorithms</a>
              <div class="line"></div>
              <a href="#">CSCI 316 - Principles of Programming Languages</a>
              <div class="line"></div>
            </div>




            <!-- THIS IS WHERE THE SAMPLE WORK ENDS! -->
        </div>


        <%- include('../../partials/_footer') %>
      </div>

    </div>

    <%- include('../../partials/_scripts') %>
    <!-- <script>
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
          $(".logo").toggleClass("active");
        });
        $("#sidebarCollapse").on("click", function showImage() {
          $(".logo").toggle();
        });
      });
    </script> -->
  </body>
</html>
