<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_iside-nav') %>

      <!-- Page Content  -->
      <div id="content">
        <div>
          <%- include('../../partials/_top-nav') %>


            <h1>CSCI 220 Assignments</h1>
            <div class="text-center">
              <a href="/createAssignment" class="btn btn-info">Create New Assignment</a>
              <!-- <button type="button" class="btn btn-info"></button> -->
            </div>
            <table class="table">
                <tr>
                    <th>Assignment Name</th>
                </tr>
                <% course.assignments.forEach(function(assignment){ %>
                  <tr><td>
                    <%= assignment.assignmentName%>
                  </td></tr>
                <% }); %>

            </table>
        </div>
        <%- include('../../partials/_footer') %>
      </div>

    </div>
  </body>
</html>
