<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_iside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>

            <h2 class="assignName"><%= assign.CourseNum %> - <%= assign.assignments[0].assignmentName %> Assignment</h2>
            <a href="/assignmentsPage"><i class="fas fa-undo-alt"></i> All Assignments</a>
            <div id="allQA" >
                <div>
                    <% for(let i = 0; i < assign.assignments[0].questions.length; i++){ %>
                        <div class="line"></div>
                        <h5>Question <%= [i+1] %> </h5>
                        <div>Q: <%= assign.assignments[0].questions[i] %></div>
                        <div>A: <%= assign.assignments[0].answers[i] %></div>
                    <% }; %> 
                </div>
                
            </div>
        </div>

        <%- include('../../partials/_footer') %>
      </div>

    </div>
    <%- include('../../partials/_scripts') %>
  </body>
</html>