<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_iside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>

            <h1><%= assign.assignmentName %></h1>
            <form id="allQA" >
                <div class="form-row" id="qaForm">
                    <% assign.questions.forEach(function(question){ %>
                        <div class="line"></div>
                        <p>Question: <%= question %> </p>
                    <% }); %>
                </div>
                
            </form>
            
            <!-- <a class="btn btn-info" href="/updateCourse/">Edit Course</a> -->

        </div>

        <%- include('../../partials/_footer') %>
      </div>

    </div>
    <%- include('../../partials/_scripts') %>
  </body>
</html>