<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_iside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>
            <h1><%= course.CourseNum %></h1>
            <h5>Name: </h5>
            <p><%= course.CourseName %></p>
            <h5>Course Credits: </h5>
            <p><%= course.CourseCredits %></p>
            <h5>Instructors: </h5>
            <p><%= course.Instructors %></p>
            <h5>Description:</h5>
            <p><%= course.CourseDescription %></p>
            <h5>Materials:</h5>
            <p><%= course.CourseMaterials %></p>
            
            <a class="btn btn-info" href="/updateCourse/<%= course.CourseID %>">Edit Course</a>

        </div>

        <%- include('../../partials/_footer') %>
      </div>

    </div>
    <%- include('../../partials/_scripts') %>
  </body>
</html>