<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_iside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>

            <h1><%= course.CourseNum %></h1>  
            <h2>Course Name</h2>
            <p><%= course.CourseName %></p>
            <h2>Course Description</h2>
            <p><%= course.CourseDescription %></p>
            <h2><a href="/assignmentsPage">Assignments</a></h2>
            <ol>
                <% course.assignments.forEach(function(assignment){ %>
                    <li><%= assignment.assignmentName%></li>
                <% }); %>
            </ol>
            <h2>Students</h2>
            <!-- <a href="studentRoster.html">Students</a> -->
            <ol>
                <% course.Students.forEach(function(student){ %>
                    <li><%= student%></li>
                <% }); %>
            </ol>

        </div>


        <%- include('../../partials/_footer') %>
      </div>

    </div>
    <%- include('../../partials/_scripts') %>
  </body>
</html>
