<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_iside-nav') %>

      <!-- Page Content  -->
      <div id="content">
        <div>
          <%- include('../../partials/_top-nav') %>
            <h1>Edit Course</h1>
            <form id="createCourse">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="courseName">Course Name</label><br>
                        <input type="text" id="courseName" name="courseName" value="<%= course.CourseName %>" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="classNum">Class Number</label><br>
                        <input type="text" id="classNum" name="classNum" value="<%= course.CourseNum %>" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="credits">Credits</label>
                        <select id="credits" class="form-control">
                          <option selected value="<%= course.CourseCredits %>"><%= course.CourseCredits %></option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                    </div>

                </div>
                <div class="form-row">
                    
                    <div class="form-group col-md-10">
                        <label for="Instructors">Instructors <i>(Comma Separated List)</i></label><br>
                        <input type="text" id="Instructors" name="Instructors" value="<%= course.Instructors %>" class="form-control">
                    </div>

                </div>
                <div class="form-row">
                    <label for="description">Course Description</label><br>
                    <textarea name="description" id="description" rows="10" cols="50" class="form-control"><%= course.CourseDescription %></textarea>
                </div>
                <div class="form-row">
                  <label for="materials">Course Materials</label><br>
                  <textarea name="materials" id="materials" rows="2" cols="50" class="form-control"><%= course.CourseMaterials %></textarea>
              </div>
              <!-- <div class="courseid" hidden></div> -->
              <input type="text" id="courseid" value="<%= course._id %>" class="form-control" hidden>
                <button class="btn btn-info float-right" type="submit">Save Changes</button>
                
              
              <!-- Consider putting this in if easy.
              <label for="prereqs">Prerequisites:</label><br>
              <input type="text" id="prereqs" name="prereqs" placeholder="MATH 120"><br> -->
              <!-- TODO: FIX THE ISSUE WITH THE LINE BREAKS -->
              <!-- <input type="text" id="classNum" name="classNum"> -->
              
            </form>



        </div>


        <%- include('../../partials/_footer') %>
      </div>

    </div>
    <%- include('../../partials/_scripts') %>

    <script>
    const courseForm = document.getElementById('createCourse');
     courseForm.addEventListener('submit', function(event) {
        event.preventDefault();
        updateCourse(event);
        
    })
        async function updateCourse(event){
          event.preventDefault();
          const CourseID = document.getElementById("courseid").value;
          console.log(CourseID);
          const CourseName = document.getElementById('courseName').value;
          const CourseNum = document.getElementById('classNum').value;
          const a = document.getElementById("credits");
          const CourseCredits = a.options[a.selectedIndex].value;
          const Instructors = document.getElementById('Instructors').value.split(",");
          const CourseDescription = document.getElementById('description').value;
          const CourseMaterials = document.getElementById('materials').value;
         
          const result = await fetch('/editCourse', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              CourseID,
              CourseNum,
              CourseName,
              CourseCredits,
              CourseDescription,
              CourseMaterials,
              Instructors
            })
          }).then((res) => res.json())
            console.log(result);
            if(result.error){
              alert(result.error);
            }
            window.location.href = result.url;
        }
      </script>
    
  </body>
</html>