<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <%- include('../../partials/_iside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>
                <h2 class="assignName"><%= assignment.assignments[index].assignmentName %></h2>
                <h3 class="text-center"><%= submission.username %>'s Submission</h3>
                <a href="/assignmentsPage"><i class="fas fa-undo-alt"></i> All Assignments</a>
                <br>
                <div class="form-inline col-xs-2">
                    <label>Grade: </label>
                    <input class="form-control col-xs-2" type="number" min="0" max="100" id="grade"  placeholder="<%= submission.grade %>">
                </div>
                <label>Instructor Feedback:</label>
                <textarea cols="30" rows="3" class="form-control" id="feedback"><%= submission.feedback %> </textarea>
                <button class="btn btn-info" onclick="submitGrade()" id="<%= submission.submissionID %>">Submit Grade/Feedback</button>
                <button class="btn btn-info" onclick="allowResubmit()" id="<%= submission.submissionID %>s">Allow Resubmit</button>
                <!-- <input class="form-control" type="text"> -->
                
                <form action="">
                    <div id="qaForm" class="<%= assignment.assignments[index].assignmentId%> ">
                        <% for(let i = 0; i < assignment.assignments[index].questions.length; i++){ %>
                            <div class="line"></div>
                            <h5>Question <%= [i+1] %></h5>
                            <div>Q: <%= assignment.assignments[index].questions[i] %></div>
                            <div>Correct Answer: <%= assignment.assignments[index].answers[i] %></div>
                            <input readonly type="text" name="answer" class="form-control answer <%=i%> " value="<%= submission.answers[i] %> ">
                            <button class="btn btn-info" type="button" onclick="correct()" id= "<%=i%>c" >✔️</button>
                            <button class="btn btn-info" type="button" onclick="wrong()" id="<%=i%>w">❌</button>
                        <% }; %> 
                    </div>
                    <div class="line"></div>
                </form>
                
                <!-- <p>assignment <%# assignment %> </p>
                <p>submission: <%# submission %> </p> -->
            </div>

            <%- include('../../partials/_footer') %>
      </div>

    </div>
    <%- include('../../partials/_scripts') %>
    <script>
        const answerFeedback = [];
        function correct(){
          const indexx = event.srcElement.id
          const index = indexx.slice(0, -1);
          if(answerFeedback[index]==null){
            answerFeedback.push("✔️")
          }else{
            answerFeedback.splice(index, 0, "✔️");
          }
          const input = document.getElementsByClassName(index);
          input[0].style.borderColor = 'green';
        }
        function wrong(){
          const indexx = event.srcElement.id
          const index = indexx.slice(0, -1);
          if(answerFeedback[index]==null){
            answerFeedback.push("❌")
          }else{
            answerFeedback.splice(index, 0, "❌");
          }
          const input = document.getElementsByClassName(index);
          input[0].style.borderColor = 'red';
        }
        async function submitGrade(){
          event.preventDefault();
          const submissionID = event.srcElement.id;
          const grade = document.getElementById('grade').value;
          const feedback = document.getElementById('feedback').value;
          const result = await fetch('/submitGrade', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              submissionID,
              grade,
              feedback,
              answerFeedback
            })
          }).then((res) => res.json())
            if(result.error){
              alert(result.error);
            }
            alert('The grade and feedback has been submitted')
            window.location.href = result.url;
        }
        async function allowResubmit(){
          event.preventDefault();
          const submissionIDbefore = event.srcElement.id;
          const submissionID = submissionIDbefore.slice(0, -1)
          const status = 'Draft';
          const result = await fetch('/allowResubmit', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              submissionID,
              status
            })
          }).then((res) => res.json())
            if(result.error){
              alert(result.error);
            }
            alert('The student submission has been re-enabled')
            // window.location.href = result.url;
        }
    </script>
    
  </body>
</html>