<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>
  <head>
    <title>Admin|Home</title>
  </head>
  <!--Previously, the head of just this page called: <script src ="js/script.js"></script> on line 35. Perhaps check out -->

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../../partials/_aside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>

            <!-- Users saved in Database -->
            <h2>Users Preview</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                </tr>
                <% for(let i = 0; i < 4; i++){ %>
                    <% if(users.length < 4){ %>
                        <tr>
                            <td> Please click view more to see all users</td>
                        </tr>
                    <% break } %>
                    <tr>
                        <td> <%= users[i].firstname %> </td>
                        <td> <%= users[i].lastname %> </td>
                        <td> <%= users[i].email %> </td>
                        <td> <%= users[i].usertype %> </td>
                    </tr>                    
                <% }; %>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>

            </table>
            <a href="/users" class="btn float-right btn-info">View More</a> <br>

             <!-- Preview of the Submissions Data Base. -->
            <h2>Submissions Preview</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>User Name</th>
                    <th>Course ID</th>
                    <th>Assignment ID</th>
                    <th>Submission ID</th>
                    <th>Status</th>
                </tr>
                <% for(let i = 0; i < 4; i++){ %>
                    <% if(submission.length < 4){ %>
                        <tr>
                            <td> Please click view more to see all submissions</td>
                        </tr>
                    <% break } %>
                    <tr>
                        <td> <%= submission[i].username %> </td>
                        <td> <%= submission[i].courseID %> </td>
                        <td> <%= submission[i].assignmentID %> </td>
                        <td> <%= submission[i].submissionID %> </td>
                        <td> <%= submission[i].status %> </td>
                    </tr>                    
                <% }; %>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>

            </table>
            <a href="/submissionList" class="btn btn-info float-right">View More</a> <br>

            <!-- Preview of the Courses Data Base. -->
            <h2>Course Preview</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Course Info</th>
                    
                </tr>
                <% for(let i = 0; i < 4; i++){ %>
                    <% if(course.length < 2){ %>
                        <tr>
                            <td> Please click view more to see all submissions</td>
                        </tr>
                    <% break } %>
                    <tr>
                        <td> <%= course[i] %> </td>
                        
                    </tr>                    
                <% }; %>
                <tr>
                    <td>...</td>
                    
                </tr>

            </table>
            <a href="/courseList" class="btn btn-info float-right">View More</a> <br>





            <!-- Preview of the Assignments Data Base. -->
            <!-- <h2>Assignments Preview</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Assignment Name</th>
                    
                </tr>
                <%# for(let i = 0; i < 4; i++){ %>
                    <%# if(assignment.length < 2){ %>
                        <tr>
                            <td> Please click view more to see all assignments</td>
                        </tr>
                    <%# break } %>
                    <tr>
                        <td> <%# assignment[i] %> </td>
                        
                    </tr>                    
                <%# }; %>
                <tr>
                    <td>...</td>
                    
                </tr>

            </table>
            <a href="/submissionList" class="btn btn-info float-right">View More</a> <br> -->

            <!-- <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Enrolled Students</th>
                    <th>Credits</th>
                    <th>Department</th>
                </tr>
                <tr>
                    <td>Intro to Poetry</td>
                    <td>112</td>
                    <td>24</td>
                    <td>3</td>
                    <td>English</td>
                </tr>
                <tr>
                    <td>Intro to Biology</td>
                    <td>160</td>
                    <td>30</td>
                    <td>4</td>
                    <td>Biology</td>
                </tr>
                <tr>
                    <td>Precalculus</td>
                    <td>122</td>
                    <td>25</td>
                    <td>4</td>
                    <td>Mathematics</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table> -->
            


            <!-- <h2>Instructors Preview</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID #</th>
                    <th>Department</th>
                </tr>
                <tr>
                    <td>Richard</td>
                    <td>MacLeod</td>
                    <td>6489216735</td>
                    <td>Mathematics</td>
                </tr>
                <tr>
                    <td>Leonard</td>
                    <td>Parr</td>
                    <td>4521976328</td>
                    <td>Psychology</td>
                </tr>
                <tr>
                    <td>Michael</td>
                    <td>Flynn</td>
                    <td>7621498320</td>
                    <td>Computer Science</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>
            <a href="instructorsDB.html" class="btn float-right btn-info">View More</a> <br> -->
            <!-- Preview of the Students Data Base. -->
            <!-- <h2>Students Preview</h2>
            <table class="table table-striped table-hover">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID #</th>
                    <th>Status</th>
                    <th>GPA</th>
                </tr>
                <tr>
                    <td>Keith</td>
                    <td>Turner</td>
                    <td>2154987362</td>
                    <td>Enrolled</td>
                    <td>3.2/4.0</td>
                </tr>
                <tr>
                    <td>Tracey</td>
                    <td>Langdon</td>
                    <td>3154687264</td>
                    <td>Graduated</td>
                    <td>2.8/4.0</td>
                </tr>
                <tr>
                    <td>Katie</td>
                    <td>Atwood</td>
                    <td>9503462067</td>
                    <td>Enrolled</td>
                    <td>3.8/4.0</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>
            <a href="studentsDB.html" class="btn btn-info float-right">View More</a> <br> -->
           



        </div>


        <%- include('../../partials/_footer') %>
      </div>

    </div>

<!--Added in the script function-->
    <%- include('../../partials/_scripts') %>

  </body>
</html>
