<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>
  <head>
    <title>Admin|Home</title>
  </head>
  <!--Previously, the head of just this page called: <script src ="js/script.js"></script> on line 35. Perhaps check out -->

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../../partials/_aside-nav') %>

      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>

            <!-- Users saved in Database -->
            <h2>Users Preview</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                </tr>
                <% for(let i = 0; i < 4; i++){ %>
                    <tr>
                        <td> <%= users[i].firstname %> </td>
                        <td> <%= users[i].lastname %> </td>
                        <td> <%= users[i].email %> </td>
                        <td> <%= users[i].usertype %> </td>
                    </tr>                    
                <% }; %>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>

            </table>
            <a href="/users" class="btn float-right btn-info">View More</a> <br>


            <h2>Instructors Preview</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID #</th>
                    <th>Department</th>
                </tr>
                <tr>
                    <td>Richard</td>
                    <td>MacLeod</td>
                    <td>6489216735</td>
                    <td>Mathematics</td>
                </tr>
                <tr>
                    <td>Leonard</td>
                    <td>Parr</td>
                    <td>4521976328</td>
                    <td>Psychology</td>
                </tr>
                <tr>
                    <td>Michael</td>
                    <td>Flynn</td>
                    <td>7621498320</td>
                    <td>Computer Science</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>
            <a href="instructorsDB.html" class="btn float-right btn-info">View More</a> <br>
            <!-- Preview of the Students Data Base. -->
            <h2>Students Preview</h2>
            <table class="table table-striped table-hover">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID #</th>
                    <th>Status</th>
                    <th>GPA</th>
                </tr>
                <tr>
                    <td>Keith</td>
                    <td>Turner</td>
                    <td>2154987362</td>
                    <td>Enrolled</td>
                    <td>3.2/4.0</td>
                </tr>
                <tr>
                    <td>Tracey</td>
                    <td>Langdon</td>
                    <td>3154687264</td>
                    <td>Graduated</td>
                    <td>2.8/4.0</td>
                </tr>
                <tr>
                    <td>Katie</td>
                    <td>Atwood</td>
                    <td>9503462067</td>
                    <td>Enrolled</td>
                    <td>3.8/4.0</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>
            <a href="studentsDB.html" class="btn btn-info float-right">View More</a> <br>
            <!-- Preview of the Courses Data Base. -->
            <h2>Courses Preview</h2>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Enrolled Students</th>
                    <th>Credits</th>
                    <th>Department</th>
                </tr>
                <tr>
                    <td>Intro to Poetry</td>
                    <td>112</td>
                    <td>24</td>
                    <td>3</td>
                    <td>English</td>
                </tr>
                <tr>
                    <td>Intro to Biology</td>
                    <td>160</td>
                    <td>30</td>
                    <td>4</td>
                    <td>Biology</td>
                </tr>
                <tr>
                    <td>Precalculus</td>
                    <td>122</td>
                    <td>25</td>
                    <td>4</td>
                    <td>Mathematics</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>
            <a href="coursesDB.html" class="btn btn-info float-right">View More</a>



        </div>


        <%- include('../../partials/_footer') %>
      </div>

    </div>

<!--Added in the script function-->
    <%- include('../../partials/_scripts') %>
    <!-- <script>
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
          $(".logo").toggleClass("active");
        });
        $("#sidebarCollapse").on("click", function showImage() {
          $(".logo").toggle();
        });
      });
    </script> -->

  </body>
</html>
