<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../../partials/_aside-nav') %>
      <head>
        <title>Admin|Courses</title>
      </head>
      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>

            <h2 class="text-center">Courses Database</h2>
            <table class="table table-hover">
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                    <th>Course ID</th>
                    <th>Course Credits</th>
                    <th>Course Description</th>
                    <th>Course Materials</th>
                    <th>Instructors</th>
                    <th>Students</th>
                    <th>Student Requests</th>
                    <th>Assignments</th>
                </tr>
                <% course.forEach(function(course){ %>
                    <tr>
                        <td> <%= course.CourseNum %> </td>
                        <td> <%= course.CourseName %> </td>
                        <td> <%= course.CourseID %> </td>
                        <td> <%= course.CourseCredits %> </td>
                        <td> <%= course.CourseDescription %> </td>
                        <td> <%= course.CourseMaterials %> </td>
                        <td> <%= course.Instructors %> </td>
                        <td> <%= course.Students%> </td>
                        <td> <%= course.studentRequests%> </td>
                        <td> <%= course.assignments %> </td>
                    </tr>                    
                <% }); %>

            </table>
            <a href="/adminHome" class="btn btn-info float-right">Dashboard</a>


        </div>


        <%- include('../../partials/_footer') %>
      </div>

    </div>

    <%- include('../../partials/_scripts') %>
  </body>
</html>
