<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/_head') %>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../../partials/_aside-nav') %>
      <head>
        <title>Admin|Courses</title>
      </head>
      <!-- Page Content  -->
      <div id="content">
          <div>
            <%- include('../../partials/_top-nav') %>

            <h2 class="text-center">Courses Database</h2>
            <table class="table table-hover">
                <tr>
                    <th>Course</th>
                    <!-- <th>Last Name</th>
                    <th>Email</th>
                    <th>User Type</th> -->
                </tr>
                <% course.forEach(function(course){ %>
                    <tr>
                      <td> <%= course %> </td>
                        <!-- <td> <%# user.firstname %> </td>
                        <td> <%# user.lastname %> </td>
                        <td> <%# user.email %> </td>
                        <td> <%# user.usertype %> </td> -->
                    </tr>                    
                <% }); %>

            </table>
            <a href="/adminHome" class="btn btn-info float-right">Dashboard</a>


        </div>


        <%- include('../../partials/_footer') %>
      </div>

    </div>

    <%- include('../../partials/_scripts') %>
  </body>
</html>
